[2020-08-04 23:46] jeremysenn commented on #842
Turns out this issue was similar to this one:

https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/issues/643

I created a custom attribute in an initializer (rails_sqlserver_types.rb):

ActiveRecord::Type.register(:var_binary_max, ActiveRecord::Type::SQLServer::VarbinaryMax)

And then applied the custom attribute in the model:

attribute :jpeg_image, :var_binary_max

[2020-08-04 23:46] #842 closed

[2020-08-09 19:19] aet08 opened #843 "ActiveRecord::StatementInvalid: TinyTds::Error: Incorrect syntax near '0'"
## Issue
irb(main):001:0> UserT.count
  SQL (4.9ms)  USE [GenDB]
   (5.5ms)  SELECT COUNT(*) FROM [UserT]
=> 2

irb(main):003:0> UserT.first
  UserT Load (9.6ms)  EXEC sp_executesql N'SELECT  [UserT].* FROM [UserT] OFFSET 0 ROWS FETCH NEXT @0 ROWS ONLY', N'@0 int', @0 = 1  [["LIMIT", nil]]
ActiveRecord::StatementInvalid: TinyTds::Error: Incorrect syntax near '0'.: EXEC sp_executesql N'SELECT  [Use

[2020-08-10 03:14] nPaul opened #844 "TinyTds::Error: Type T_FK is not a defined system type."
Rails version 6
multi database using

for example if run db:rollback
got error:

--trace log
[code]

[2020-08-10 03:21] nPaul commented on #844
FREETDS version
[code]

[2020-08-13 17:14] taylorthurlow commented on #707
@wpolicarpo Is there any chance of getting the two PRs you linked above backported to 5.x?

[2020-08-25 11:57] joshleblanc commented on #841
This also happens just by assigning the attribute to an empty array, or nil.

[code]

[2020-08-26 17:23] cyberbruce commented on #840
I'm having the same problem, but with the 5.0.7 version of the gem.

[2020-08-26 21:55] cyberbruce commented on #840
I did notice, that IF I used symbol syntax when constructing my query in rails it was correct.  (no N'')

If I had a query that used a sql string, I had the incorrect meta type of N''

What are your thoughts?

[2020-08-31 06:12] sdahlbac commented on #738
@wpolicarpo I finally got around to creating the PR now: #845

[2020-09-08 20:05] mariolopes opened #846 "Rails decimals data types detected as nvarchar"
## Issue
The adapter is translating Rails models decimal attributes as nvarchars (in SQL Server 2019 they are defined as numerics with different precisions). If I change the attributes to float, it will detect them as ints and discard the decimal places when doing SQL inserts.

## Expected behavior
decimals should be detected as decimal datatypes and numerics as numerics.

## Actual behavior
decim

[2020-09-08 20:22] mariolopes commented on #846
Sorry, forgot to mention that I had the same issue as reported here #657, and implemented the monkey patch provided by rip747 (https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/issues/657#issuecomment-417785545). I've disabled the monkey patch and it is now detecting everything correctly, with the exception of numeric(10,0)...

[2020-10-19 10:56] Quintasan opened #847 "ActiveRecord::ConnectionAdapters::SQLServerAdapter does not support skipping duplicates"
## Issue
`bundle exec rails db:seed` throws `ActiveRecord::ConnectionAdapters::SQLServerAdapter does not support skipping duplicates`.

## Expected behavior
A single SQL INSERT should be generated and executed

## Actual behavior
When using `#insert_all(Array[Hash])` I'm getting `ActiveRecord::ConnectionAdapters::SQLServerAdapter does not support skipping duplicates`

## How to reproduce
[code]

#

[2020-11-03 21:48] jeremysenn commented on #712
I have an issue that seems somewhat similar to this, but a bit more peculiar. We recently upgraded to SQL Server 2019, and now have some problems properly connecting to the database.

tiny_tds: 2.1.2
activerecord-sqlserver-adapter: 6.0.0

The first issue that we noticed the  was the "Incorrect syntax near 'OFFSET'" when doing any searches of the database in Ruby (e.g. Image.find(1) ).

Upon furthe

[2020-11-04 13:55] wpolicarpo commented on #707
@taylorthurlow I backported it already. Problem is that `5-2-stable` is currently broken and I don't want to cut a release without fixing the specs first. I will see if I have some time during the weekend to look into that.

[2020-11-11 00:47] jeremysenn commented on #712
Anybody have an idea why for me client.tds_version shows "DBTDS_7_3 - Microsoft SQL Server 2008", even though I'm connecting to SQL Server 2019 and the compatibility level on the database shows 150?

[2020-11-24 20:53] pfriedman opened #848 "Column Collation not being set in db:schema:load"
## Issue

When attempting to set the collation for a column[1] that differs from the collation for the schema, the column collation gets set correctly when running `rake db:migrate` but running `rake db:schema:load` the column collation reverts back to the default schema location.

[1] https://docs.microsoft.com/en-us/sql/relational-databases/collations/set-or-change-the-column-collation

## Expec

[2020-12-02 11:18] mtk72 opened #849 "Rails 6.1 upgrade"
## Issue
Unable to upgrade to Rails 6.1.0.rc1 (full release is about be released and I suspect that it is the same situation)

Fetching gem metadata from https://rubygems.org/............
Fetching gem metadata from https://rubygems.org/.
Resolving dependencies...
Bundler could not find compatible versions for gem "activerecord":
  In Gemfile:
    activerecord-sqlserver-adapter (~> 6.0) was resolve

[2020-12-10 15:07] wpolicarpo commented on #849
Hey, no work has been done for Rails 6.1 yet.

I'm a bit busy at the moment., but I will try to start something in the next few days.

[2021-01-10 13:58] BenMcH opened #850 "Schema dumping in the Rails 6.0.0 Release is Broken Given a Table With Multiple Unique Constraints"
## Issue

The following commit changed how columns were fetched for a table: 92ff32a9c28a1b9d0643b9c2ee272263f7fdd604

The new functionality duplicates columns in my schema.rb file once per unique key constraint, resulting in my schema.rb file being unable to properly stand up a new database due to duplicate column definitions.

When I manually run the old SQL from before the aforementioned commit

[2021-01-10 14:50] wpolicarpo commented on #850
Hey, thanks for the report. I'm AFK this week with limited access to internet, but will try to see if I can come up with a fix for this.

[2021-01-10 15:00] BenMcH commented on #850
Thank you for the quick response. If I get some time this week, I may poke at it as well and submit a PR if I find a fix.

[2021-01-20 16:14] jeffchuber commented on #847
@Quintasan did you find a solution or workaround for this? I'm seeing the same behavior with `PostgreSQLAdapter`. I worry it's an environment thing, because it works fine on my colleagues computer.

[2021-01-20 16:39] Quintasan commented on #847
The only workaround I could think of was using `find_or_create_by`.

[2021-01-20 16:39] gnarfle commented on #840
Any update? We're still seeing this issue. In addition to the example I posted I'm also finding it on WHERE IN(field: [array]) queries too, oddly just on the first item in the array.

[2021-01-20 16:44] jeffchuber commented on #847
I got "something" working... for some reason `insert_all!` works while `insert_all` does not. 🤷 🤦

[2021-01-20 17:51] marciojg commented on #849
Hy @wpolicarpo any news about this issue?

[2021-01-27 23:29] BenMcH commented on #850
@wpolicarpo do you think that we could get this merged this week? I'd like to finish our rails 6 migration in the next week or so.

[2021-01-28 16:37] lk0001 commented on #849
@marciojg I haven't done a lot of testing, but you can try https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/compare/master...lk0001:master

[2021-02-02 04:51] colmexdev commented on #849
Sorry to bother over here, but how can I get this compare commit working on a Rails app?

Thanks in advance.

[2021-02-02 12:45] #850 closed

[2021-02-02 17:47] lk0001 commented on #849
Use
[code]
in Gemfile instead of
[code]

[2021-02-05 08:40] johan-smits commented on #849
@lk0001 I'm testing it also but until now all good :+1:, could you submit a PR so that more people can comment on it if they think it needs changes?

[2021-02-05 10:55] lk0001 commented on #849
https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/pull/853

[2021-02-05 15:05] steveny commented on #849
I've tested this and have one issue.  I'm unsure if it is related to the adapter or active record proper.  If you have a column as type "boolean" and a default, this line throws an exception as there is no unary operator for booleans:

https://github.com/rails/rails/blame/0f43f55be62638cf5102dca73cd2b8e61f2444cf/activerecord/lib/active_record/connection_adapters/column.rb#L94

I'll admit that I'm

[2021-02-06 11:34] alastair-measures commented on #849
From my experience SQL Server thinks of booleans as smaller integers and this is not plastered over by activerecord or this driver (in it's 6.0.0 edition).

So set your boolean default to 1 or 0 and things will work but possibly only until you switch back to PostgreSQL.  Comparisons will likewise need to be rephrased.

Hope that helps

[2021-02-10 19:13] steveny commented on #849
@alastair-measures The issue is core active record uses the unary operator to freeze strings - for those it freezes, it assumes every attribute used in `deduplicated` is a string.  If you change the default from a boolean to an integer, it is even worse.  It will set the default to be the negative of that integer.  My adapter change above does need to be a bit more clever in that it needs to prese

[2021-02-12 20:03] alastair-measures commented on #849
**@steveny** Thank you for the response.  My experience of SQLServer  booleans did not involve a default in a migration.  It did however involve a permission flag being used in a pundit policy.  On discovering that SQLServer regards the boolean data type as a smaller integer I coded accordingly, it worked and I moved on.
C was like this in the 1970's and 1980's and surely things could have moved o

[2021-02-15 13:33] marciojg commented on #849
@steveny I agree with you! The issue be in the rails/activerecord.

This is the return of my tests when has `default: true`.

[code]

You consider open a issue in the [rails/activerecord](https://github.com/rails/rails/issues?q=is%3Aopen+is%3Aissue+label%3Aactiverecord) about this?

[2021-02-23 09:45] Circuit8 commented on #849
I also ran into this issue, and had a go at fixing it here: #854

Tests pass and the behaviour seems to be in line with what the postgres adapter is doing.

[2021-02-23 10:26] ume3119 commented on #367
I am facing the same issue for rails 4.2.8.
Was it fixed for Rails 2?

[2021-03-14 18:42] wpolicarpo opened #856 "Missing proper implementation for Rails 6 optimizer_hints"
## Issue

Rails 6 added a new method called [`optimizer_hints`](https://github.com/rails/rails/pull/35615) to allow developers to tweak the query optimizer via query hints.

The SQL Server adapter does not have a proper implementation for that new method and the SQL produced isn't optimized as expected.

To make things worse, SQL Server has both [query hints](https://docs.microsoft.com/en-us/sql/t

[2021-03-19 18:41] wpolicarpo opened #859 "Check if insert_all/upsert_all can be implemented using MERGE"
## Issue

Rails 6 introduced [`upsert_all`](https://apidock.com/rails/v6.0.0/ActiveRecord/Persistence/ClassMethods/upsert_all) and the SQL Server adapter does not implement it yet.

There's no such thing as MySQL's `ON DUPLICATE KEY UPDATE` in SQL Server, but we could possibly use the [`MERGE`](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008/bb522522(v=sql.100)?redirectedfro

[2021-03-22 15:03] joshleblanc commented on #849
It looks like rails 6.1 broke queries with arrays

This change: https://github.com/rails/rails/commit/72fd0bae5948c1169411941aeea6fef4c58f34a9#diff-587b7b18d0042b98a933a40411b7127eff43078ee26cdc0a291f9dafc641a188

Seems to cause the binds to be passed just as strings/numbers rather than the attribute bind. This causes [this line](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/bl

[2021-03-22 15:30] joshleblanc commented on #849
I've been working off of @Circuit8's branch to fix problems as I come across them. I've added a monkey patch to revert the optimisations in rails 6.1, but I'm not confident that's acceptable for a PR.

https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/compare/master...joshleblanc:rails-6-1-support

[2021-03-22 16:43] wpolicarpo commented on #849
A follow-up for those waiting for a 6.1 release:

There are a [few 6.0 issues](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/labels/rails-6.0) I want to address before starting a 6.1 release. I don't want to release 6.1 knowing that 6.0 is currently broken but I'm unable to find time to look into them in the upcoming days/weeks, so all PRs are more than welcome.

That list is n

[2021-03-31 18:08] #856 closed

[2021-04-06 07:14] runephilosof-abtion commented on #849
The only open 6.0 issue is missing `upsert_all` support.
I don't think it is important to have that implemented before supporting 6.1, which we already have a working PR for:
https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/pull/861

[2021-04-06 18:55] OmriSama commented on #402
@metaskills and @wpolicarpo hey guys :)

I ran into this recently when we had an unexpected restart of our SQL Server. What I'm assuming is that if the SQL Server is restarting/down, and you try to query it, the query fails and FreeTDS/`dblib` sets the connection as dead. At that point, it doesn't even try to reconnect or re-establish -- it's simply completely dead.

Now, what I thought would happ

[2021-04-07 17:17] mgrunberg commented on #859
@wpolicarpo I created PR https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/pull/869 to explore this possibility. I found some issues.

[2021-04-07 17:34] mgrunberg commented on #847
Some info I gathered while working on the issue https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/issues/859.

`insert_all` semantic is "skip on duplicates". [ActiveRercord validates](https://github.com/rails/rails/blob/v6.0.3.6/activerecord/lib/active_record/insert_all.rb#L20) that the database adapter supports "skip on duplicate" when you call `Model.insert_all`, before reaching

[2021-04-07 17:48] wpolicarpo commented on #849
Well, I wouldn't say it's not important (maybe it's not for you @runephilosof-abtion), but I kind of agree we can move on and open a 6.1 WIP release.

I moved all the CI stuff to GitHub Actions and added 3.0.x to the matrix, which revealed a failing test addressed by #868. We are now investigating why we need to coerce that test and why the SQL Server adapter does not implement `DecimalWithoutScal

[2021-04-07 18:50] jeffchuber commented on #847
Thanks @mgrunberg . I ended up finding out that `psql --version`was lying to me and I had an older version than it was letting on. Now `insert_all`, `upsert_all`, etc - all work fine.

[2021-04-08 18:41] gisborne commented on #848
I can take a look at this.

[2021-04-09 21:15] #738 closed

[2021-04-13 14:26] ecentell-CPF commented on #849
@wpolicarpo FYI:
The version 6.0.2 you pushed to Rubygems.org is not working for 6.1.

gem 'activerecord-sqlserver-adapter', '~> 6.0', '>= 6.0.2'
Bundler could not find compatible versions for gem "activerecord":
  In Gemfile:
activerecord-sqlserver-adapter (~> 6.0, >= 6.0.2) was resolved to 6.0.2,
which depends on
      activerecord (~> 6.0.0)

If I change to
gem 'activerecord-sqlserver-adapter',

[2021-04-13 19:36] wpolicarpo commented on #849
@ecentell-CPF Rails 6.1 support is still WIP and I don't recommend you to use that branch simply because it's broken.

I suggest you to have a look at the [README](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter#about-the-adapter) where it explains the rationale behind the adapter versioning. 6.0.x is compatible with Rails 6.0.x and 6.1.x will be compatible with Rails 6.1.x and s

[2021-04-16 12:39] #841 closed

[2021-04-22 16:08] gisborne opened #913 ""The statement failed because specifying key list is missing when creating an index" trying to run tests"
## Issue

Following RUNNING_UNIT_TESTS.md instructions. When I do `bundle exec rake test ACTIVERECORD_UNITTEST_HOST='localhost'` the result is a stack trace ending with "…/database_statements.rb:364:in `do': The statement failed because specifying key list is missing when creating an index. Create the index with specifying key list"

## Expected behavior

Tests run

## Actual behavior

See above.

[2021-04-23 19:55] aidanharan commented on #913
Try running the tests using the ActiveRecord SQL Server Adapter Development Box (https://github.com/rails-sqlserver/activerecord-sqlserver-adapter-dev-box) as it's very difficult to debug someone's custom setup.

[2021-05-05 12:01] wpolicarpo commented on #849
I've just released [6.1.0.0.rc1](https://rubygems.org/gems/activerecord-sqlserver-adapter/versions/6.1.0.0.rc1).

Please, report any bugs you may find. If nothing major is reported, I'll cut the final 6.1.0.0 release in 2 weeks.

And please, do no report bugs in this thread. Open a new issue so it's easier to track changes.

[2021-05-05 12:01] #849 closed

[2021-05-05 12:04] wpolicarpo commented on #849
Forgot to thanks everyone who helped with PRs and bug reports. Special thanks to @aidanharan and @mgrunberg who did most of the work for this release to happen.

[2021-05-05 21:30] gisborne opened #926 "use_output_inserted = false fails to return new guid id on inserts"
## Issue
Rails does not get back the id of a new row in a table with a guid primary key with use_output_inserted set to false.

## Expected behavior
The id should be returned

## Actual behavior
The id comes back null

## How to reproduce
Working on a test. This should work:

schema.rb:

  create_table "test" do |t|
    t.uuid     "id", null: false
    t.string  "x"
  end

test.rb
  class Test < A

[2021-05-10 18:02] gisborne commented on #926
This in uuid_test_sqlserver.rb replicates the problem:
[code]

[2021-05-11 02:43] mgrunberg commented on #926
If you forbid the usage of `output inserted` I don't think there is a good way to return the guid value. Maybe that's why the adapter [has a test](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/blob/main/test/cases/uuid_test_sqlserver.rb#L44) showing that id should be nil in that case.

If you are setting `use_output_inserted = false` because your table has triggers then you sho

[2021-05-12 15:04] gisborne commented on #926
D'Oh! I hadn't seen that.

Could we not automatically detect the condition where the table has a trigger and a GUID id and do the right thing, without needing all these settings?

[2021-05-21 19:40] gisborne opened #927 "Unable to run tests due to network timeout"
## Issue
Clone repo and bundle exec rake fails due to network timeout loading Gemfile while fetching "/api/v1/versions/activerecord.yaml"

## Expected behavior
Tests should run

## Actual behavior
[code]

## How to reproduce
See above

## Details

- **Rails version**: Test version included with Gem (6.1.3.2)
- **SQL Server adapter version**: 6.1.3.2
- **TinyTDS version**: 2.1.3
- **FreeTDS details

[2021-05-26 10:58] wpolicarpo commented on #926
@gisborne the configuration is done that way to avoid penalising inserts ran against tables that don't have that limitation.

It would be expensive to check for when we should use the temporary table and that's why we let devs configure when to use that.

[2021-05-26 10:58] #926 closed

[2021-05-26 16:54] gisborne commented on #926
Why would it be expensive? We could use cached information about the table, just as we do in plenty of other places.

[2021-06-01 16:12] mgrunberg commented on #849
@wpolicarpo is it safe to release version 6.1.0.0? Sorry if this is not the proper place to ask this.

[2021-06-01 19:10] wpolicarpo commented on #849
@mgrunberg sure thing. I'll cut the final release tomorrow

[2021-06-04 12:37] wpolicarpo commented on #849
Final 6.1.0.0 was released, sorry for the delay.

[2021-07-12 02:32] simonrentzke commented on #723
Hi @wpolicarpo, I'm having the same problem, when using multiple databases with latest Rails, and SQL server adapter, and Postgres.

Here is a repo to reproduce the failure, with reproduction steps: https://github.com/simonrentzke/rails-sqlserver-adapter-bug

It has something to do with how Rails handles the AR Internal Metadata table, the error stops occurring when I set `use_metadata_table: fals

[2021-07-13 08:21] aidanharan commented on #927
Unable to reproduce the issue.

If it's still happening could you provide the commit you are on using `git rev-parse HEAD`? Also, have you tried using the ActiveRecord SQL Server Adapter Development (https://github.com/rails-sqlserver/activerecord-sqlserver-adapter-dev-box) instead of your local environment to run the tests?

[2021-07-14 00:02] mattbrictson opened #929 "Do the monkey patches in this gem interfere with the Rails built-in PostgreSQL adapter?"
## Issue

This is more of a question than a reproducible issue.

My team is considering using the [multiple database support](https://guides.rubyonrails.org/active_record_multiple_databases.html) built into Rails to connect our Rails app to two databases simultaneously: a PostreSQL database and a SQL Server database. Does this gem supports such a scenario?

For example, Rails 6.1 supports a `datab

[2021-07-14 12:57] aidanharan commented on #929
Yes, I think it would be problematic using the SQL Server adapter with other adapters in the same Rails application for the reasons you say.

Your `if connection.adapter is sqlserver then patched_version else original_version` solution would probably work although I'm not sure how we can test the code to confirm it. Running the SQL Server adapter tests will confirm that we don't break the SQL Serv

[2021-07-14 14:06] wpolicarpo commented on #929
I think we can change the SQL Server adapter to make it compatible with multiple database connections using multiple adapters. This adapter is partially compatible as it does support multiple databases, but like you observed, using multiple adapters may cause issues.

I will gladly review PRs fixing that behaviour if you want to help.

[2021-07-19 13:40] aidanharan commented on #840
This issue isn't present in version 6.0 or 6.1 of the SQL Server adapter. It does happen in v5.2.1 as detailed in the original description.

**SQL Server Adapter:** 5.2.1
**Rails:** 5.2.6
[code]

**SQL Server Adapter:** 6.0.2
**Rails:** 6.0.4
[code]

**SQL Server Adapter:** 6.1.0.0
**Rails:** 6.1.4
[code]

[2021-07-19 13:52] aidanharan commented on #843
Unable to recreate the issue. Could you provide a test case (https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/tree/main/test/cases) or more information on the issue?

[2021-07-29 12:35] wpolicarpo commented on #836
Sorry for the long response time.

So just to be clear, you have 2 models say `ModelA` and `ModelB`, one in the `dbo` schema and the other in another schema, right?

You said it's a legacy application so I assume you are using `self.table_name=` to set the table name for those models?

Could you maybe post more details about the whole setup? Which model goes into with schema, how you are setting t

[2021-07-29 12:42] wpolicarpo commented on #927
I don't believe the issue is on our side, but some connectivity issue between you and rubygems.

Please, make sure you can reach https://rubygems.org/api/v1/versions/activerecord.yaml for example where you are trying to run the test from.

I'm closing this off for now.

[2021-07-29 12:42] #927 closed

[2021-07-29 12:43] #929 closed

[2021-08-05 20:33] gisborne opened #934 "Add documentation for when and why to turn on or off use_output_inserted"
I can't see the downside to using OUTPUT INSERTED.

The option to turn this off exists, but there is no explanation I can find about when and why one would want to use this.

Suggest something be added to the README about this.

[2021-08-06 22:16] #696 closed

[2021-08-06 22:22] wpolicarpo commented on #934
There's already something in the README explaining why you might need to turn it off: https://github.com/rails-sqlserver/activerecord-sqlserver-adapter#identity-inserts-with-triggers.

What exactly should be added or what do you think should be improved?

[2021-08-06 22:44] wpolicarpo commented on #848
Closing this one as it was fixed in #881.

[2021-08-06 22:44] #848 closed

[2021-08-06 22:46] gisborne commented on #934
use_output_inserted appears nowhere on that page.
On Aug 6, 2021, 15:23 -0700, Wanderson Policarpo ***@***.***>, wrote:

[2021-08-06 23:07] #719 closed

[2021-08-11 12:46] wpolicarpo opened #937 "Can't apply filter by date ranges"
## Issue

There's a bug where tables with `date` columns can't be filtered by a date range because an exception is raised.

## Expected behavior

No errors should be raised and filter applied correctly.

## Actual behavior

An error is raised: `ArgumentError: wrong number of arguments (given 1, expected 0)`.

## How to reproduce

[code]

## Details

- **Rails version**: `6.1.4`
- **SQL Server adap

[2021-08-11 13:34] #937 closed

[2021-08-25 11:21] gucki opened #939 "ActiveRecord::StatementInvalid raised in case of duplicate key"
## Issue
Creating two entries with the same id (primary key) of the same model fails with an ActiveRecord::StatementInvalid exception rather than ActiveRecord::RecordNotUnique. This is different to how other db adapters, ex postgresql work.

## Expected behavior
ActiveRecord::RecordNotUnique is raised

## Actual behavior
ActiveRecord::StatementInvalid is raised

/usr/local/bundle/gems/activerecord

[2021-08-31 09:11] #939 closed

[2021-09-08 11:56] vishwasFullStack opened #942 "gem activerecord-sqlserver-adapter latest plugin not working to log message in database"
## Issue
To store log in the database we are using td-aget 4.1.1 with the gem **activerecord-sqlserver-adapter**  with version '6.1.0.0'  but yesterday when we reinstall gem **activerecord-sqlserver-adapter**  installed with the latest version 6.1.2.0.

This version is throwing "Uninitialized Constant Rails"  Error .

![image](https://user-images.githubusercontent.com/90322669/132504720-43693fb7-8

[2021-09-08 12:09] harsh288 commented on #942
I'm getting the same error with fluentd configuration, it was working with the package "fluent-plugin-sql" but not getting error.

[2021-09-08 12:30] wpolicarpo commented on #942
This was a regression coming from #941.

Sorry about that. I'll fix it and release a new version soon.

[2021-09-08 12:35] harsh288 commented on #942
Sure @wpolicarpo, I'm waiting for the new version, just curious how can this be avoided in future since the previous version is gone, this will surely impact the production if the latest version is taken.

[2021-09-08 12:47] wpolicarpo commented on #942
@harsh288 not sure what you mean with previous version is gone. I'm not yanking 6.1.2.0 for now (but maybe I should).

[2021-09-08 12:51] harsh288 commented on #942
@wpolicarpo I mean the version 6.1.1.0 & 6.1.0.0 ([https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/commit/6276e1b0f72561d1bec385d7aa712ffac5128458#diff-7b60b8e351cbb80c47459ffe2c79f1a26404871f49294780fe47ad0e58c09350](url)

I believe the previous version is overridden, but if there is a way where I can still download the old version of the package like "gem install activerecord-s

[2021-09-08 12:55] wpolicarpo commented on #942
@harsh288 No, previous versions are not removed, they are available in [RubyGems](https://rubygems.org/gems/activerecord-sqlserver-adapter/versions) unless they are yanked.

You can either pin it down to `6.1.1.0` for now or wait a few minutes until I release a new version.

[2021-09-08 12:56] #942 closed

[2021-09-08 13:02] wpolicarpo commented on #942
Version [6.1.2.1](https://rubygems.org/gems/activerecord-sqlserver-adapter/versions/6.1.2.1) was released and contains a fix for that.

Can you please update your deps and let me know if you find any issues?

[2021-09-08 17:44] harsh288 commented on #942
@wpolicarpo Thanks a lot for fixing this on priority.

And regarding installing the specific version, I tried but at the end it installs the latest one, you can see the snapshot below.

![image](https://user-images.githubusercontent.com/19948144/132558390-de90b48b-d438-42d4-995c-84cc0fda8997.png)

[2021-09-09 10:15] gucki opened #944 "Support for structure.sql seems to be broken"
activerecord-sqlserver-adapter (6.1.0.0)
tiny_tds (2.1.5)

Compile-time settings (established with the "configure" script)
Version: freetds v1.2.18
freetds.conf directory: /etc
MS db-lib source compatibility: yes
Sybase binary compatibility: no
Thread safety: yes
iconv library: yes
TDS version: auto
iODBC: no
unixodbc: yes
SSPI "trusted" logins: no
Kerberos: no
OpenSSL: yes
GnuTLS: no
MARS: yes

T

[2021-09-09 15:12] aidanharan commented on #944
The issue is caused by `defncopy` from FreeTDS and is already opened as https://github.com/FreeTDS/freetds/pull/276

To demonstrate the issue do the following. Create a table with column name `key` (which Rails does in the `ar_internal_metadata` table).

[code]
When you run "rails db:migrate" TinyTDS calls `defncopy` with a command similar to:
[code]

If you open `structure.sql` it will contain:
[

[2021-09-09 15:42] aidanharan commented on #944
I'm unable to recreate the "Views are not supported" issue. Could you provide steps on how to recreate the issue?

[2021-09-10 15:29] brantz opened #946 "Connection option "trustServerCertificate" seems broken/not supported"
activerecord-sqlserver-adapter (6.1.0.0)
tiny_tds (2.1.5)

I am trying to set the connection option `trustServerCertificate` but it seems i can't get it to work.

I have tried adding the option as a query parameter to `DATABASE_URL`, like so:

`sqlserver://<user>:<pwd>@<host>:<port>/<db_name>?trust_server_certificate=true`

That didn't work so i tried various spellings of `trustServerCertificate`

[2021-09-10 16:11] wpolicarpo commented on #946
Sorry, I haven't heard about that config before. Isn't that option only for the [jdbc driver](https://docs.microsoft.com/en-us/dotnet/api/system.data.sqlclient.sqlconnectionstringbuilder.trustservercertificate?view=dotnet-plat-ext-5.0)?

I didn't find any mentions in freetds for that option so I don't think you will be able to use here.

[2021-09-15 06:35] gucki commented on #946
There's an option for it in the config file of freetds: https://www.freetds.org/userguide/freetdsconf.html. But it doesn't seem like https://github.com/rails-sqlserver/tiny_tds supports setting the options on the fly. So I just created https://github.com/rails-sqlserver/tiny_tds/issues/504.

[2021-09-15 06:49] brantz commented on #946
Thanks, @wpolicarpo for your input, it pointed me to the right direction. Some digging into the FreeTds config options showed that, as @gucki pointed out, the default behavior is to accept any server certificate.  Indeed our issues turned out to be related to our firewall and not to the handling of the certificate.

[2021-09-15 07:02] #946 closed

[2021-09-15 23:34] erlingur opened #947 "Rails tests can't truncate tables when run in parallel"
## Issue
Using Minitest and fixtures I will get an error `ActiveRecord::StatementInvalid: TinyTds::Error: Cannot truncate table 'active_storage_blobs' because it is being referenced by a FOREIGN KEY constraint.` when I try to run any tests.

## Expected behavior
Tests should run without an error.

## Actual behavior
When I have in my test helper `parallelize(workers: :number_of_processors)` it wil

[2021-10-03 04:41] harsh288 opened #949 "Oracle CLOB and BLOB datatype are not supported"
Hello Everyone,

I'm using fluentd and using fluent SQL plugin along with oracle_enhanced adapter, but the datatype clob and blob are not working, please help.

[code]

[2021-10-03 16:25] harsh288 commented on #949
@wpolicarpo Do you have an idea about this ??

[2021-10-03 17:01] wpolicarpo commented on #949
@harsh288 you might want to ask for help on the fluentd plugin repo or Oracle adapter repo. I don't think we will be able to help you here, sorry.

[2021-10-03 17:01] #949 closed

[2021-10-11 21:45] theo-bittencourt opened #950 "Nil variable @version_year is causing error when Rails try to load schema on the test database"
## Issue

Cannot setup test db properly because `db:schema:load` is raising  `NoMethodError: undefined method `<' for nil:NilClass`.

In the method `ConnectionAdapters::SQLServer::SchemaStatements.drop_table`, the variable `@version_year` is not defined yet at this point.

## Expected behavior

Should load schema on test db.

## Actual behavior

`rails db:schema:load RAILS_ENV=test ` or `rails db:

[2021-10-14 21:18] theo-bittencourt commented on #950
@wpolicarpo

We're not connecting with two different database at the same time.
But we did a migration from one legacy database, which collation is defined as `Latin1_General_CI_AI`.

So, we end up changing the `database.yml` to define the default collation as `Latin1_General_CI_AI` instead `SQL_Latin1_General_CP1_CI_AS`  (used by this gem).

This fixed our problem, although the `TinyTds::Error` w

[2021-11-09 08:55] Rajanpandey opened #953 "Error on GROUP BY clause while using SQLServer, which was working 100% fine with Postgres before"
## Issue
I have a Rails repo that was working 100% fine with Postgres before.
I migrated the database to SQL Server, then all the group queries (with ORM framework) has started giving this error: `TinyTds::Error: Column "<column-name>" is invalid in the ORDER BY clause because it is not contained in either an aggregate function or the GROUP BY clause`

## Expected behavior
Since there is no change

[2021-11-09 15:52] aidanharan commented on #953
This issue is caused by SQL Server rather than by the adapter. Postgres allows you to group by a column that is not present listed in the `SELECT` clause. SQL Server does not.

If you take your SQL and run it manually against SQL Server using Azure Data Studio (https://azure.microsoft.com/en-us/services/developer-tools/data-studio/) or any other database tool you will see the same error. If you ed

[2021-11-10 09:37] Rajanpandey commented on #953
Thanks for the reply!
I tried adding select and order to the ORM query, but it's still not working:
[code]

However, when I removed the group query keyword from the ORM query, it worked fine.
[code]

It's a big repo that I am working on and I don't understand the whole SQL query well. Do you think removing the group clause from all such queries will help in SQL Server (coming from Postgres)?

[2021-11-11 09:15] aidanharan commented on #953
Removing the GROUP clause would change the results from your query and so the code that relies on those results would probably break.

Was the generated SQL and error message still the same?

[2021-11-12 12:07] #953 closed

[2021-11-21 19:52] jonahgeorge opened #955 "support stored procedures in SQLServerDatabaseTasks#structure_dump"
Currently, [`SQLServerDatabaseTasks#structure_dump`](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/blob/main/lib/active_record/tasks/sqlserver_database_tasks.rb#L56-L80) supports exporting tables and views; however, the underlying tool [`defncopy`](https://github.com/FreeTDS/freetds/blob/master/src/apps/defncopy.c) supports stored procedures as well. It would be particularly he

[2021-11-28 03:59] jonahgeorge opened #956 "support views in `structure_load`"
## Issue

Given an example schema:
[code]

`structure_dump` [strips the `Go` statements added in between the various objects](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/blob/main/lib/active_record/tasks/sqlserver_database_tasks.rb#L75). As a result, when loading the objects back into the database via `structure_load`, the following error is thrown.

[code]

## Expected behav

[2021-11-28 04:53] jonahgeorge opened #958 "Consider excluding known system views in structure_dump"
## Issue

When invoking `structure_dump` on a database which has replication enabled, a number of replication tables and views are created which should not be managed by external tools.

An incomplete list can be found here:
https://docs.microsoft.com/en-us/sql/relational-databases/system-views/replication-views-transact-sql?view=sql-server-ver15

Any reservations to creating a denylist in `SQLSer

[2021-12-14 19:03] OmriSama opened #959 "Clarify `timeout` parameters and difference with TinyTDS"
Hello. I wanted to ask for some clarification on `timeout`s and the relationship between the adapter, TinyTDS, and FreeTDS.

1. I've been trying to figure out if the FreeTDS `timeout` parameter is in seconds, or something else. The documentation doesn't clarify this: https://www.freetds.org/userguide/freetdsconf.html
2. TinyTDS says it's in seconds in the README; cool.
3. I look at the `activereco

[2021-12-15 17:24] aidanharan commented on #959
If you run `man freetds.conf` (https://www.systutorials.com/docs/linux/man/5-freetds/) it documents the timeout as being in seconds. As you said TinyTDS also uses seconds. And since other ActiveRecord adapters use milliseconds it is necessary for the SQL Server adapter to convert milliseconds to seconds before passing it to TinyTDS.

- SQL Server Adapter: Milliseconds
- TinyTDS: Seconds
- FreeTDS:

[2021-12-16 21:27] net1957 opened #960 "Rails7 is out"
Do you have any plan to support it ?

[2021-12-22 16:43] aidanharan opened #962 "Rails 7.0 support"
The SQL Server Adapter needs to be updated to support Rails 7.0.

The steps will be to:

1. Cut `6-1-stable` branch from `main` and make `main` the development branch for Rails 7.
2. Get the test suite running, which @mgrunberg is working on in https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/pull/961
3. Update the adapter so that the tests all pass
4. Fix any outstanding bugs tha

[2021-12-22 16:43] #960 closed

[2021-12-29 12:02] marino-mrc opened #970 "Still problems with ActiveRecord::ConnectionNotEstablished (TinyTds::Error: failed to execute statement)"
## Issue

Hi, here is a description of my issue:
[code]
... Waiting 30seconds here, then
[code]

## Expected behavior

It should reconnect automatically. Is there a way to configure this? I checked the code and it seems that "reconnect" option is not used.
This case seems related to https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/issues/623 but I don't see a solution. Is there a

[2022-01-10 13:37] mgrunberg commented on #962
@aidanharan I made a series of PR that should make all tests pass. I need help reviewing and merging them.

[2022-01-13 11:46] #959 closed

[2022-01-13 15:50] aidanharan commented on #962
Many thanks to @mgrunberg for all his work upgrading the adapter to work with Rails 7.0 and making all the tests pass!

@wpolicarpo Would you be able to push a beta release of the adapter to RubyGems? Also, do you know how to install new Ruby versions onto the Appveyor CI image? Rails 7 requires Ruby >= 2.7.0 and the CI image does not appear to have any version greater than 2.6.

[2022-01-13 16:38] wpolicarpo commented on #962
I'll cut a release this weekend and update the Docker images to their latest versions. On the Appveyor, we need to check if they support the versions we need. I can look into that too.

And thanks @mgrunberg for all the hard work.

[2022-01-13 16:44] wpolicarpo commented on #970
Hi. I have a few questions for you:

1. What happened between you first ran `Pratica.count` and the second time you tried to execute the same query? Was the database restarted or something like that?
2. Unrelated, but why do you call `self.abstract_class` in your class? That should probably be removed.

[2022-01-13 18:24] marino-mrc commented on #970
Hi Guys, thanks for your help.

@wpolicarpo:
1. Nothing happened to the DB during my test. No restarts or something like that
2. Yes, you're right. I removed the abstract_class statement but I got the same error

@aidanharan:

Unfortunately, I have only read permissions on the database and it seems to me that the script you linked need to create and drop a table. Is there something else I can do?

[2022-01-18 10:50] aidanharan commented on #970
Hi Marco,

Details of how to run a SQL Server instance using Docker is given in https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/wiki/How-to-run-SQL-Server-in-a-Docker-container. You could use that database instance to create a test case against.

[2022-01-18 21:46] wpolicarpo commented on #962
I released [7.0.0.0.rc1](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/compare/6-1-stable...v7.0.0.0.rc1) now.

If nothing big arises in the upcoming days, I will release a final version. Please report any bugs/issues.

[2022-01-18 21:46] #962 closed

[2022-02-05 00:45] KDGundermann opened #998 "running with a non "dbo" schema (Rails 5.2.4)"
## Issue
I'm trying to migrate my application from Rails 4.2 to 5.2
The application is accessing a SQL-Server with an existing database from our ERP system
The user we are using has a default schema 'lager' where some views for my application are defined
Most of my test are failing after the upgrade

When starting the Rails application :
- ActiveRecord::ModelSchema::ClassMethods runs `load_schema!

[2022-02-07 19:55] wpolicarpo commented on #998
@KDGundermann do you mind creating a minimal reproducible script following [these steps](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/wiki/How-to-report-a-bug) or maybe a test app highlighting the issue?

That version of the adapter is not supported anymore (README is wrong) but I'd be happy to review a PR, guide you through a solution or investigate the issue myself further i

[2022-02-07 21:27] jjimenez opened #999 "ActiveRecord::StatementInvalid (TinyTds::Error: Incorrect syntax near the keyword 'clustered'.)"
## Issue
When trying to create a clustered index, the wrong sql statement is generated.  We do this when we create reporting tables from our rails data.  We drop and recreate tables and re-create indexes that were removed.

## Expected behavior
connection.add_index "testings", "last_name", type: :clustered
should generate sql: "CREATE CLUSTERED INDEX [index_testings_on_last_name] ON [testings] ([l

[2022-02-07 23:50] wpolicarpo commented on #999
Thanks for the detailed report. I'll look into this soon.

[2022-02-08 08:47] DCrow opened #1000 "Not all data sources are found"
## Issue
When using a database with multiple schemas, not all tables are found for method
[code]
It seems to stem from this [line](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/blob/6-0-stable/lib/active_record/connection_adapters/sqlserver/schema_statements.rb#L322).
When `ActiveRecord::Base.connection.data_source_sql` is called, it's called without any parameters and because

[2022-02-08 17:10] KDGundermann commented on #998
Hi,
I am trying to prepare a pull request, but currently struggling how to write a test.
For testing I would need a second user with a different default schema.
Currently there is only the rails user. Could I create a temporary login/user in the tests ??
How can I create another (temporary) connection with this new user ?

I would like to test CRUD operations on a table with the same name as one e

[2022-02-08 17:45] wpolicarpo commented on #998
Why do you need a second user?

If you really need something like that than you could use [`test/schema/sqlserver_specific_schema.rb`](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/blob/main/test/schema/sqlserver_specific_schema.rb) to prepare your test and add tests to [`test/cases/schema_test_sqlserver.rb`](https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/blo

[2022-02-08 20:23] KDGundermann commented on #998
I need a user with a different, non "dbo" schema, as currently the code assumes every user is in the dbo-schema.

[2022-02-08 22:45] KDGundermann commented on #1000
See also: #998
I assume the current user has the dbo schema as default schema.
Why should we enumerate all others schemas?
How should it handled if there are duplicate names?

[2022-02-09 07:09] DCrow commented on #1000
We should enumerate since other database adapters support this.
For example rails postgres adapter. It also supports which schemas to enumerate using `schema_search_path` option in database.yml.

I think data_sources should return names with schema, so that it will be possible to differentiate same table names with different schemas.
Also it should be noted that truncating tables doesn't always wo

[2022-02-09 23:48] jpsilvashy opened #1005 "ActiveRecord::StatementInvalid (TinyTds::Error: Type DT_BooleanFalse is not a defined system type.)"
## Issue
I'm trying to query a DB which has some custom types, I've not seen before, one column has the type `TD_BooleanFalse`, when querying the db, the following error is raised:

[code]

I've tried registering a type with an initializer like so:

[code]

And then setting the attribute type in the model with:

[code]

Although this does not work.

## Details

- **Rails version**: `6.1.4.4`
- **S

[2022-02-10 01:44] jpsilvashy commented on #1005
Actually after further investigation, I found out something interesting, this only happens for default value constraints for non-standard column types.

[2022-02-10 01:44] #1005 closed

[2022-02-10 10:14] aidanharan commented on #998
The same user can use multiple different schemas. For example, if you look at the test in https://github.com/DCrow/activerecord-sqlserver-adapter/commit/78ba894766ba615ed6a2d055936866b283b4c49c you can see that a single user is able to create schemas `dbo1` and `dbo2` and can create tables in each of them.

If you follow the approach taken in this test can you create a reproducible script that dem

[2022-02-10 13:54] wpolicarpo commented on #999
Fixed in #1002. I'll cut a new release soon.

[2022-02-10 13:54] #999 closed

[2022-02-14 12:00] aidanharan commented on #998
@KDGundermann I had a quick look at https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/pull/1008. Is the issue you are having something like the following.

1. The database has table called `dbo.accounts`.
2. The database has a view called `dbo2.accounts`, which is a view of the records in the `dbo.accounts` table.
3. You want to create a ActiveRecord model that will query the `dbo2

[2022-02-14 14:43] KDGundermann commented on #998
Yes there is some logic
- the database is part of our ERP (Enterprise Ressource Planning) software
- the Rails application is only an addon , which should only see a small subset of all the tables
- the Rails application has some tables and views which are private to the rails application and do not belong into the dbo schema
- so the db user for the Rails application has a non-dbo schema as defau

[2022-02-15 10:32] aidanharan commented on #998
@KDGundermann You should be able to use `table_name_prefix` to query the view in the other schema. I have created https://gist.github.com/aidanharan/08f58700b1b965c872ce1c0895926ddc to demonstrate how a model can be configured to query a view in a different schema from the original table.

[2022-02-16 17:01] aidanharan commented on #998
@KDGundermann From my understanding the default schema of the user shouldn't prevent you from querying tables/views in other schemas. Please see https://gist.github.com/aidanharan/056606b0ac89b2440b6db967997f0d19

In the gist you can see that:

1. The default schema of the 'rails' user is `dbo`.
2. The table `dbo1.accounts` can be queried using ActiveRecord by configuring the model's `table_name_p

[2022-02-16 17:41] KDGundermann commented on #998
Yes, and the current tests are always running with this user in 'dbo'

But when you have another user 'xxx' in schema 'test' you will have problems. (e.g. when inserting data)

Try to create another user with
`CREATE LOGIN [activerecordtestuser] WITH PASSWORD = '', CHECK_POLICY = OFF, DEFAULT_DATABASE = [activerecord_unittest]
        USE [activerecord_unittest]
        DROP USER IF EXISTS [active

[2022-02-17 10:29] aidanharan commented on #998
The issue with changing the line `scope[:schema] = identifier.schema || 'dbo'` is that other users of the SQL Server adapter could be relying on the schema being defaulted to `dbo` instead of the user's default schema. Changing that one line could fix your issue but break other peoples applications. So without a strong argument for the change then it cannot be made.

I ran your tests in https://gi

[2022-02-18 16:35] KDGundermann commented on #998
Just a small modification to your gist:
(https://gist.github.com/KDGundermann/13f0123ca7a0562cc69a3c7ca14c4a86)

using `gem "activerecord-sqlserver-adapter", "6.1"`

[2022-02-21 09:58] aidanharan commented on #998
The tests in your gist (https://gist.github.com/KDGundermann/13f0123ca7a0562cc69a3c7ca14c4a86) were failing because you hadn't set the primary key of the `Account` model. See https://gist.github.com/aidanharan/fb933eed08191ff46fcc38380a379332

[code]

[2022-02-21 14:04] KDGundermann commented on #998
It would neither be neccessary to set `self.table_name_prefix = 'dbo2.'` nor `self.primary_key = 'account_id'`
as the activerecord-sqlserver-adapter would normally handle this fine.

But there is this single line:
`scope[:schema] = identifier.schema || 'dbo'`
which causes that the code is looking for a view "dbo.active_accounts" which does NOT exist and so can NOT determine the primary key.

And y

[2022-02-21 16:08] #998 closed

[2022-02-22 01:27] mgrunberg commented on #962
@wpolicarpo is it safe to release a final version now? Sorry if this is not the proper place to ask

[2022-02-22 09:39] wpolicarpo commented on #962
Yes. I'll release a final version later today.

[2022-02-22 21:55] wpolicarpo commented on #962
@mgrunberg v7.0.0.0 was released.

[2022-02-22 22:04] mgrunberg commented on #962
@wpolicarpo thanks!

[2022-02-28 17:04] jmlevesque333 opened #1009 "Distinct with ArelExtensions on mssql returns TOP(1) 1 AS one"
## Issue
Doing the following query Model.distinct.to_sql returns the following query `SELECT DISTINCT TOP(1) 1 AS [one] FROM [models]`
This happens when running with mssql on Windows with arel_extensions (https://github.com/Faveod/arel-extensions).
The issue is caused by this piece of code:
[code]

interacting with the overriding of the == operator from ArelExtensions:
[code]

so when it's running

[2022-03-03 20:10] Philgo68 opened #1010 "Type choices in sp_executesql_sql_type cause poor query performance."
Using varchar(max) as a fall back parameter type causes SQL Server to make poor execution plan choices, dramatically slowing down queries.

If the type selection in sp_executesql_sql_type was better when the :sqlserver_type was missing, the system would perform MUCH better in these odd situations.  Instead the quick logic falls to nvarchar(max) pretty easily:
[code]

We are querying against an ERP

[2022-03-06 17:59] sivawba opened #1011 "Guidance on how to do password-less login using Azure Service Principal or Managed Identity"
## Issue

We are trying to port a Rails application to Azure cloud and would like to use `Azure Service Principal` or `Managed Identity` instead of the `database.yml` username/password, while connecting to Azure SQL-MI

Is it possible to do this without specifying username/password in database.yml by using `access_token` from Azure IMDS endpoint [as shown here for Python](https://www.linkedin.com/

[2022-03-07 14:04] frederikspang opened #1012 "Stored Procedure support for Rails 7 #load_async"
## Issue
We should support the new Rails 7 load_async method for `ActiveRecord::Base.execute_procedure` calls.
This obviously requires a few changes, such as utilizing query building as is the case when using `Model.where` and other lazy-loaded query forms, instead of simply passing through the query to `dblib_execute` directly.
This might require some changes in Rails, such as https://github.com/

[2022-05-16 08:48] aidanharan commented on #1012
We should be able to make use of https://github.com/rails/rails/pull/44446 to support async stored procedure calls.

[2022-07-12 09:26] stackmystack opened #1016 "Requiring the library fails for versions >= 7"
## Issue
When you require `activerecord-sqlserver-adapter` as such:

[code]

You get a `method_missing` exception in `ActiveRecord::Base` (it can't find `silence_warnings`).

## Expected behavior
It should load the adapter without exceptions

## Actual behavior
Throws a `method_missing` exception.

## How to reproduce

[code]

## Details

- **Rails version**: `>= 7`
- **SQL Server adapter version*

[2022-07-19 23:12] joaquinrponce opened #1017 "Failed connections infinitely create file descriptors"
## Issue

Whenever a connection is attempted, or a connection is lost, several file descriptors are opened and are never removed.
This is a problem as our Puma server eventually hits the open file limit and crashes, as well as our delayed_job jobs eventually also hitting the file limit and manifesting different errors.

## Expected behavior

Should not create infinite file descriptors.

## Actual

[2022-07-20 11:27] nemesit opened #1018 "change_column_default cannot drop default constraint"
## Issue
change_column_default and similar methods not working as intended

## Expected behavior

according to the documentation
[change_column_default](https://apidock.com/rails/ActiveRecord/ConnectionAdapters/SchemaStatements/change_column_default)(:users, :email, nil)

`change_column_default("SomeTable", "SomeColumn", nil)`

should drop the default constraint on SomeColumn.

## Actual behavior

[2022-10-11 15:41] frederikspang opened #1027 "Rails 7 adapter raises NoMethodError in `views_real_column_name` for Models over DB Views"
## Issue
Exception is thrown when model is wrapping DB Views.

## Expected behavior
It should run simple SELECT queries, like is the case with < v7. And which is the case for normal table selects

## Actual behavior
raises `NoMethodError` in schema_statements.rb:600 in `views_real_column_name`

## How to reproduce
1. Set up simple view (`create view x as select a,b,c from TBL_Y`)
2. Set up simple

[2022-10-19 15:00] aidanharan commented on #1027
@frederikspang Would you be able to create a script that recreates the issue as I haven't been able to? See https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/wiki/How-to-report-a-bug

[2022-10-19 15:24] aidanharan commented on #1016
Fixed by https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/pull/1020

[2022-10-19 15:24] #1016 closed

[2022-10-19 16:59] frederikspang commented on #1027
@aidanharan I'll give it a go as soon as possible.

[2022-10-19 17:40] frederikspang commented on #1027
@aidanharan My initial attempts to make a reproduction case, actually revealed the error. We run a multi-database setup, within same DBMS, meaning our view(and table_name) defined as `MY_DB..v_my_view`. I have created a PR to accommodate for this.

https://github.com/rails-sqlserver/activerecord-sqlserver-adapter/pull/1029

This atleast solves this case.
There may exist other cases for this same e